* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

.cabecalho {
  position:fixed;
  text-align: center;
  z-index: 1;
  padding: 20px;
  width: 100%;
  background-color: cadetblue;
}

.navegacao {
  display: flex;
}

.link-cabecalho {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  margin-top: 70px;
  background-color: chocolate;
}

.tag-li {
  list-style: none;
}

.tagA {
  color: black;
  text-decoration: none;
}

.article-inicial {
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
}

.artigos {
  display: flex;
  margin: 20px;
}

.artigos-p {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 20px;
}

.autor {
  display: flex;
  justify-content: center;
}

.card-autor {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.imagens-cards {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.lado-esquerdo-1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  top: 500px;
}

.lado-esquerdo-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lado-direito-1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  top: 500px;
}

.lado-direito-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lado-esquerdo-2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  top: 1000px;
}

.lado-esquerdo-2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lado-direito-2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  top: 1000px;
}


.lado-direito-2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lado-esquerdo-3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  top: 1500px;
}

.lado-esquerdo-3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lado-direito-3 {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  top: 1500px;
}

.lado-direito-3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lado-esquerdo-4 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  top: 2500px;
}

.lado-esquerdo-4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lado-direito-4 {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  top: 2500px;
}

.lado-direito-4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.meio-pagina {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  top: 2500px;
}

.meio-pagina:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.campo-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;

}

.titulo-aside-ingles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  width: 100%;
}

.link-aside {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  margin: 10px;
}

.tag-li-2 {
  list-style: none;
  margin: 10px;
}

/*.rodape {
  position: absolute;
  top: 2000px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  background-color: aqua;
}*/
.titulo-tabela {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabela-aside {

  margin: 10px;
}

.th {
  border: 1px solid black
}

.td {
  border: 1px solid black
}

/* @media screen and (max-width: 600px) {
  .container {
    background-color: blue;
  }
} */
